
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Medium";
    src: local("arslanwessam"),
      url("./assets/fonts/arslanwessam.ttf") format("truetype");
  }
.arab {
    font-family: 'Medium';
}

@media (max-width: 640px) {
  .flex-row > * {
    width: calc(50% - 1rem); 
    margin: 0.5rem;
  }
}

